@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter','Helvetica Neue',Helvetica,Arial,sans-serif;
    @apply text-gray-700;
}
.no-color {
    background-image: url('/img/no.svg');
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
}
svg {
    display: inline-block;
}

[x-cloak] { display: none !important; }

.arrow-down::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #065f46;
}